{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style_connexion.css') }}"/>
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
<body class="bg_beige">
<div class="logo_yogizgood"></div>

<h1 class="titreh4 txt_marron text-center">Inscription</h1>
<div class="container">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
     {{ form_row(registrationForm.firstname) }}
     {{ form_row(registrationForm.lastname) }}
      {{ form_row(registrationForm.phoneNumber) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

    <div class="text-center">
        <button type="submit" class="btn bg_marron txt_blc col-3 my-3">S'inscrire</button>
        <p> Déjà inscrit?</p>
        <a href={{ path('app_login') }} class=" btn bg_orange txt_blc col-3 mt-2 mb-5">Se connecter</a>
    </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
