    <nav class="navbar navbar-expand-xxl" aria-label="Ninth navbar example">
        <div class="container-xxl">
            <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('img/logoseul.png') }}" alt="logo Yogizgood"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse " id="navbarsExample07XL">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ path('app_apropos') }}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_lescours') }}">Les cours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        {% if app.user is empty %}
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li> 
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                    
                        {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_user') }}">Mon compte</a>
                    </li>   
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                        {% endif %}    

            </div>
        </div>
    </nav>