{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style_reservation.css') }}"/>
{% endblock %}

{% block title %}Réservations
{% endblock %}

{% block body %}
	    <h2 class="titrepage">Réservations</h2>
	<body>
	
		<section class="section">
            <div class="calendrier">
			    <div id="calendar">
                </div>
		    </div>		

			<div class="creneaux">
            <h4>Créneaux disponibles :</h4>
			{% for session in cours %}
                <a class=" btn creneau" href="{{ path('app_booking_details', {'session': session.id}) }}">
				<h4 class="date_creneau">{{ session.date|date('d/m/Y') }}
                </h4>
                    {{ session.date|date('H:i') }}<br>
				    <p>#places restantes</p>
				{# {% else %}
                <span class="creneau ligne">pas de session ce jour
                </span> #}
                </a>
			{% endfor %}
			</div>


			<div class="details">
				<h4>Détails :</h4>
					<p> Cours de Yoga - {{ session.kind }} -
						<span>{{ session.date|date('d/m/Y') ~ " à " ~ session.date|date('H:i') }}
                        </span>
					</p>
					<p>3 Place Jules Ferry 05000 GAP | Professeur : Céline Brenier
					</p>
					{# <p>1 heure : 
					10 € | Proposé dans une formule
					</p>#}
                    
                    <a href="{{ path('app_user', { 'id': session.id }) }}" class="btn bg_marron">Je réserve !</a>

{# {% for event in events %}
    <div class="event">
        <span class="event-title">{{ event.description }}</span>
        <a href="{{ path('app_user', { 'id': event.id }) }}">Réserver</a>
    </div>
{% endfor %}    #}

			</div> 
		</section>
		</body>
	{% endblock %}

	{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'>
    </script>

    <script>
        
        const bookings = {{ events|json_encode|raw }};
        console.log(bookings);
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                events: bookings,
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                firstDay: 1,
                businessHours: [
                    {
                        daysOfWeek: [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        startTime: '09:00',
                        endTime: '20:00'
                    }
                ],
                weekends: false,
                slotMinTime: '09:00',
                slotMaxTime: '20:00',
                allDaySlot: false,

                eventClassNames: function (arg) {
                    if (arg.event.extendedProps.kind == 'Présentiel') {
                        return ['bg_mint']
                    } else if (arg.event.extendedProps.kind == 'En ligne') {
                        return ['bg_orange']
                    } else if (arg.event.extendedProps.kind == 'Individuel') {
                        return ['bg_marron']
                    }
                },
            
            });

            calendar.render();
        });

        
    </script>
	{% endblock %}

