{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style_reservation.css') }}"/>
{% endblock %}

{% block title %}Réservations
{% endblock %}

{% block body %}
	    <h2 class="titrepage">Réservations</h2>
<body>
  <div class="typecours text-center mb-5 ms-5">
        <span class="bg_mint color">Présentiel</span>
        <span class="bg_marron color">Individuel</span>
        <span class="bg_orange color">En ligne</span>
        </div>
	<section class="section">
		<div class="calendrier">
			<div id="calendar"></div>
		</div>

		<div class="creneaux">
			<h4>Créneaux disponibles :</h4>
			{% for session in creneaux %}
				<a class=" btn creneau" href="{{ path('app_booking_details', {'session': session.id , 'details' : session.date|date('Y-m-d')}) }}">
					<h4 class="date_creneau">{{ session.date|date('d/m/Y') }}
					</h4>
					<p>{{ session.date|date('H:i') }}<br>
						{{ session.kind }}
					</p>
				</a>
               
			{% endfor %}
		</div>


		<div class="details">
			<h4>Détails :</h4>
			<p>
				Cours de Yoga - {{ session.kind }} - {{ session.date|date('d/m/Y') ~ " à " ~ session.date|date('H:i') }}
			</p>
			<p>
                3 Place Jules Ferry 05000 GAP | Professeur : Céline Brenier
			</p>

			<a href="{{ path('app_booking_id', { 'id': session.id }) }}" class="btn bg_marron txt_blc col-3">Je réserve !</a>
		</div>
	</section>
</body>


	{% endblock %}

	{% block javascripts %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'>
    </script>

    <script>
        
const bookings = {{ events|json_encode|raw }};
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                events: bookings,
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth'
                },
                firstDay: 1,
                businessHours: [
                    {
                        daysOfWeek: [1, 2, 3, 4, 5],
                        startTime: '09:00',
                        endTime: '20:00'
                    }
                ],
                weekends: false,
                slotMinTime: '09:00',
                slotMaxTime: '20:00',
                allDaySlot: false,

                eventClassNames: function (arg) {
                    if (arg.event.extendedProps.kind == 'Présentiel') {
                        return ['bg_mint']
                    } else if (arg.event.extendedProps.kind == 'En ligne') {
                        return ['bg_orange']
                    } else if (arg.event.extendedProps.kind == 'Individuel') {
                        return ['bg_marron']
                    }
                },
                eventClick: function (info) {
                var eventObj = info.event;
                const props = eventObj.toJSON().extendedProps;
                window.location.href = props.booking_url;
            }
             });

            calendar.render();
        });


        
    </script>
	{% endblock %}

