{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style_connexion.css') }}"/>
{% endblock %}
{% block title %}Mon compte personnel{% endblock %}

{% block body %}
<h2 class="titrepage">Bienvenue</h2>
    <h3 class="titre_nom"><img src="{{ asset('img/lotus.png') }}" alt="lotus"> {{ user.lastname }} <img src="{{ asset('img/lotus.png') }}" alt="lotus"></h3>
    <h3 class="titre">Mes réservations</h3>

    <div class="reservations">
        <div class="calendrier">
    	    <div id="calendar">
            </div>
        </div>

        <div class="affichage">
        {% if booked is empty %}
        <div class="no_booking">
        <p>Vous n'avez pas encore de réservation !</p>
        <a href="{{ path('app_session_index') }}" class="btn txt_blc btn_admin add bg_mint col-6">Ajouter</a>
        </div>
        {% else %}
        {% for booking in booked %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Type de cours</th>
                        <td>{{ booking.session.kind.type ? booking.session.kind.type }}</td>
                    </tr>
                        <th>Date et heure</th>
                        <td>Le {{ booking.session.date ? booking.session.date|date('d/m/Y \à H:i') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Détails</th>
                        <td>{{ booking.session.kind.description ? booking.session.kind.description }}</td>
                    </tr>
                    <tr>
                        <th>Durée</th>
                        <td>{{ booking.session.duration ? booking.session.duration }} heure</td>
                    </tr>
                </tbody>
            </table>
            {{ include('booking_delete/_delete_form.html.twig') }}
        <p class="txt_marron">Attention, tout cours annulé moins de 6h à l'avance sera compté comme dû.
        </p>
            <a href="{{ path('app_session_index') }}" class="btn txt_blc btn_admin add bg_mint col-3">Ajouter</a>
        </span>

        {% endfor %}
        {% endif %}
        </div>
    </div>
        <h3 class="titre">Mes informations</h3>
    <div class="informations">  
        <table class="table">
            <tbody>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Credit</th>
                    <td>{{ user.credit }} 0 </td>
                </tr>
            </tbody>
        </table>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn txt_blc btn_admin bg_marron col-2">Modifier</a>
    </div>

{% endblock %}
{% block javascripts %}
    <script src = "../js/main_connexion.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'>
    </script>

    <script>
        const bookings = {{ bookings|json_encode|raw }};
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                events: bookings,
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth'
                },
                firstDay: 1,
                businessHours: [
                    {
                        daysOfWeek: [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        startTime: '09:00',
                        endTime: '20:00'
                    }
                ],
                weekends: false,
                slotMinTime: '09:00',
                slotMaxTime: '20:00',
                allDaySlot: false,

                eventClassNames: function (arg) {
                    if (arg.event.extendedProps.kind == 'Présentiel') {
                        return ['bg_mint']
                    } else if (arg.event.extendedProps.kind == 'En ligne') {
                        return ['bg_orange']
                    } else if (arg.event.extendedProps.kind == 'Individuel') {
                        return ['bg_marron']
                    }
                },
            });

            calendar.render();
               
            document.addEventListener('click', function () {
                calendar.render()
            });
        });  
    </script>
{% endblock %}