{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style_connexion.css') }}"/>
{% endblock %}
{% block title %}Mon compte personnel{% endblock %}

{% block body %}
<h2 class="titrepage">Bienvenue</h2>
    <h4 class="titre_nom">{{ user.lastname }}</h4>
  

<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Profil')">Profil</button>
   
    <button class="tablinks" onclick="openCity(event, 'Calendrier')">Calendrier</button>
 
  </div>
  
  <div id="Profil" class="tabcontent">
  <div class="infos container mb-5">  
    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Credit</th>
                <td>{{ user.credit }}</td>
            </tr>
        </tbody>
    </table>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn bg_orange">Modifier</a>
    </div>
    </div>
  
  <div id="Calendrier" class="tabcontent">
  <main class="box_calendrier">
    <div class="calendrier">
    	<div id="calendar">
        </div>
    </div>
    <div class="detail">

{% for booking in booked %}
    <table class="table">
        <tbody>
            <tr>
                <th>BookingDate</th>
                <td>{{ booking.session.date ? booking.session.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>BookingDate</th>
                <td>{{ booking.session.kind.description ? booking.session.kind.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_booking_delete_index') }}">back to list</a>

    <a href="{{ path('app_booking_delete_edit', {'id': booking.id}) }}">edit</a>

    {{ include('booking_delete/_delete_form.html.twig') }}
{% endfor %}


        {# {% for booking in bookings %}
            <div class="event">
            <span class="event-title">{{ booking.description }}</span>
            <span class="event-time">{{ booking.start }}</span>
        
    </div>
        {% endfor %} #}
       
        <p class="txt_marron">Attention, tout cours annulé moins de 6h à l'avance sera compté comme dû.
        </p>
    </div>
  </main>
  </div>
  
  
{% endblock %}
{% block javascripts %}
    <script src = "../js/main_connexion.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'>
    </script>

    <script>
        const bookings = {{ bookings|json_encode|raw }};
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                events: bookings,
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth'
                },
                firstDay: 1,
                businessHours: [
                    {
                        daysOfWeek: [
                            1,
                            2,
                            3,
                            4,
                            5
                        ],
                        startTime: '09:00',
                        endTime: '20:00'
                    }
                ],
                weekends: false,
                slotMinTime: '09:00',
                slotMaxTime: '20:00',
                allDaySlot: false,

                eventClassNames: function (arg) {
                    if (arg.event.extendedProps.kind == 'Présentiel') {
                        return ['bg_mint']
                    } else if (arg.event.extendedProps.kind == 'En ligne') {
                        return ['bg_orange']
                    } else if (arg.event.extendedProps.kind == 'Individuel') {
                        return ['bg_marron']
                    }
                },
            });

            calendar.render();
               
            document.addEventListener('click', function () {
                calendar.render()
            });
        });  
    </script>
{% endblock %}